.editor {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #e8e6e6;
}

.board {
  width: 70%;
  height: min-content;
  background-color: #fff;
  border: 0.1px solid grey;
  border-radius: 5px;
  overflow: hidden;
}

.info {
  width: 30%;
  height: 80vh;
  margin-top: 5vh;
  margin-left: 15px;
  background-color: #fff;
  box-sizing: content-box;
  border: 0.1px solid grey;
  border-radius: 5px;
  position: sticky;
  top: 15vh;
}

.adder {
  width: 100%;
  height: 200px;
  background-color: rgb(248, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgType {
  width: 100%;
}

.icon {
  width: 60px;
  height: 60px;
}

.icon > img {
  width: 100%;
  height: 100%;
}

.cover {
  width: 70%;
  height: 30%;
  border: 0.1px solid grey;
  border-radius: 5px;
  margin-top: -10%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}

.cover img {
  width: 100%;
  object-fit: scale-down;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  width: 90%;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.labels {
  width: 100%;
  min-height: 30px;
  max-height: 60px;
  padding: 10px 20px;
  box-sizing: border-box;
  overflow-y: auto;
  margin-top: 10px;
  display: flex;
}

.labels::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.createLabel {
  width: 150px;
  height: 40px;
  margin: 10px auto;
  background-color: #dad8d8;
  border-radius: 20px;
  border: 0.1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.createLabel:hover {
  background-color: white;
}

.createProject {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 10px;
  background-color: rgb(66, 160, 243);
}

.createProject:disabled {
  background-color: white;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filehead {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
}

.closeCon {
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.close {
  width: 10px;
  height: 10px;
  fill: #fff;
  position: relative;
}

.alert {
  width: 50%;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: rgb(26, 90, 128);
  margin-top: 10%;
}
