.aboutPage {
  width: 100%;
  min-height: 200px;
}

.aboutHeader {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.editCon {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
}

.detailCon {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: flex-end;
}

.detailLabel {
  flex: 1;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.detailContent {
  flex: 2;
  margin-left: 5px !important;
  margin-right: 5px !important;
  font-weight: 300;
}

.displayField {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px auto;
  padding: 5px;
  font-size: 18px;
}

.displayFieldLabel {
  flex: 1;
  height: 100%;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
}

.displayFieldContent {
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
}

.switch {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}
